body {background-color: pink;}




h1 { 
    background-image: url("image/banniere.jpg");
    text-shadow: 1px 1px 2px black,0 0 1em red, 0 0 0.2em red;
    filter: grayscale(o.5);
    text-align: center;}

    img{
        max-width: 256px;
        max-height: 256px;
        float: left;
        padding-left: 16px;
        padding-right: 16px;
    }

